.sandbox__annotations
  %h4.sandbox__annotations-header
    = header
  - if annotations.empty?
    .sandbox__annotation
      = t('.perfect_score')
  - annotations.each do |annotation|
    .sandbox__annotation{ class: "sandbox__annotation--#{annotation.start_position.to_s.to_i}" }
      .sandbox__annotation-marks
        - [annotation.marks].flatten.each do |mark|
          .sandbox__annotation-mark
            = "#{mark.start_position.bar_number}:#{mark.start_position.count}"
      .sandbox__annotation-fitness= annotation.fitness.round(3)
      .sandbox__annotation-message= annotation.message
