%h2.sandbox__title= composition.name
= form_for(composition, url: {controller: 'compositions', action: 'update', id: composition.id}, html: {class: 'sandbox__form'}) do |f|
  .sandbox__key-signature
    = f.select(:key_signature, ["C major", "D dorian", "E phrygian", "F lydian", "G mixolydian", "A aeolian"], {}, { onchange: "this.form.submit();" })
  .sandbox__voice
    - if @sandbox.voice_cantus_firmus?
      = t('.entering_cantus_firmus')
      = link_to t('.enter_counterpoint'), sandbox_path, class: 'button form-widget'
    - else
      = t('.entering_counterpoint')
      = link_to t('.enter_cantus_firmus'), sandbox_path(voice: 'cantus_firmus'), class: 'button form-widget'
