.style-guide__colors
  .style-guide__container.style-guide__container--colors
    = render partial: 'style_guides/chip_chart', locals: {color: 'red'}
    = render partial: 'style_guides/chip_chart', locals: {color: 'pink'}
    = render partial: 'style_guides/chip_chart', locals: {color: 'purple'}
    = render partial: 'style_guides/chip_chart', locals: {color: 'deep-purple'}
  .style-guide__container.style-guide__container--colors
    = render partial: 'style_guides/chip_chart', locals: {color: 'indigo'}
    = render partial: 'style_guides/chip_chart', locals: {color: 'blue'}
    = render partial: 'style_guides/chip_chart', locals: {color: 'light-blue'}
    = render partial: 'style_guides/chip_chart', locals: {color: 'cyan'}
  .style-guide__container.style-guide__container--colors
    = render partial: 'style_guides/chip_chart', locals: {color: 'teal'}
    = render partial: 'style_guides/chip_chart', locals: {color: 'green'}
    = render partial: 'style_guides/chip_chart', locals: {color: 'light-green'}
    = render partial: 'style_guides/chip_chart', locals: {color: 'lime'}
  .style-guide__container.style-guide__container--colors
    = render partial: 'style_guides/chip_chart', locals: {color: 'yellow'}
    = render partial: 'style_guides/chip_chart', locals: {color: 'amber'}
    = render partial: 'style_guides/chip_chart', locals: {color: 'orange'}
    = render partial: 'style_guides/chip_chart', locals: {color: 'deep-orange'}
  .style-guide__container.style-guide__container--colors
    = render partial: 'style_guides/chip_chart', locals: {color: 'brown'}
    = render partial: 'style_guides/chip_chart', locals: {color: 'grey'}
    = render partial: 'style_guides/chip_chart', locals: {color: 'blue-grey'}
