%nav.top-nav
  .top-nav__spread
    .top-nav__container.page__container
      .top-nav__content.top-nav__content--brand
        = link_to(home_path, class: "top-nav__brand-link") do
          = t(:name, scope: [:site])
      .top-nav__content.top-nav__content--menu
        %ul.top-nav__menu-list
          %li.top-nav__menu-list-item
            = link_to_unless_current(t('.home'), home_path, class: 'top-nav__menu-link')
          %li.top-nav__menu-list-item
            = link_to_unless_current(t('.compositions'), sandbox_path, class: 'top-nav__menu-link')
          %li.top-nav__menu-list-item
            = link_to_unless_current(t('.about'), about_path, class: 'top-nav__menu-link')
          %li.top-nav__menu-list-item
            - if current_identity
              = link_to t('.sign_out', name: current_identity.name), signout_path, id: "sign_out", class: 'top-nav__menu-link'
            - else
              = link_to t('.sign_in'), "/auth/google_oauth2", id: "sign_in", class: 'top-nav__menu-link'
